# Files that should be cleaned
*.exe
*.dll
*.exp
*.lib
*.pdb
*.idb
*.ilk
*.obj
*.res

# GNU version of the above
*.out
*.o
*.d
*.a

# Precompiled header files
*.pch
*.ipch

# Code analysis files
*.*codeanalysis*

# Don't track non-essential project files/databases
*.opensdf
*.sdf
*.suo
*.ncb
*.intermediate.manifest
*.lastbuildstate
*.unsuccessfulbuild
*.log
*.tlog
*.cod

# User settings shouldn't be tracked
#*.vcxproj.user
*.user

# Mac OS X creates these files (be nice to cross-compilers)
.DS_Store

# Gedit/Kate create files like these for backup purposes (be nice to cross-
# compilers)
*~
*.swp

# We don't want to save backup files.
*.BAK

# Don't track archives
*.zip
*.rar
*.7z

# We need these files though
!DBProInterface9.0.lib
!DBProInterfaceD9.0.lib
