#include "resource.h"

STRINGTABLE
{
	1	"IRR INIT%LLL%irr_init"
	2	"IRR DROP%0%irr_drop"
	3	"IRR KEYSTATE[%LL%irr_keystate"
	4	"IRR BEGIN SCENE%L%irr_beginscene"
	5	"IRR END SCENE%0%irr_endscene"
	6	"IRR MOUSE X[%L%irr_mousex"
	7	"IRR MOUSE Y[%L%irr_mousey"
	8	"IRR MOUSE Z[%L%irr_mousez"
	9	"IRR MOUSE CLICK[%L%irr_mouseclick"
	10	"IRR MOUSE FLUSH%0%irr_mousemoveflush"
	11	"IRR MOUSE MOVE X[%L%irr_mousemovex"
	12	"IRR MOUSE MOVE Y[%L%irr_mousemovey"
	13	"IRR HIDE MOUSE%0%irr_hidemouse"	// Added WLGfx - 2012/08/26
	14	"IRR SHOW MOUSE%0%irr_showmouse"	// Added WLGfx - 2012/08/26

	20	"ISCN GET MESH[%LS%irrsc_getmesh"
	21	"ISCN ADD CUBE NODE[%LLF%irrsc_addcubescenenode"
	22	"ISCN ADD SPHERE NODE[%LLFL%irrsc_addspherescenenode"
	23	"ISCN ADD ANIM MESH NODE[%LLL%irrsc_addanimatedmeshscenenode"
	24	"ISCN ADD MESH NODE[%LLL%irrsc_addmeshscenenode"
	25	"ISCN ADD WATER SURFACE NODE[%LLLFFF%irrsc_addwatersurfacescenenode"
	26	"ISCN ADD CAMERA NODE[%LL%irrsc_addcamerascenenode"
	27	"ISCN ADD LIGHT NODE[%LL%irrsc_addlightscenenode"
	28	"ISCN ADD BILLBOARD NODE[%LL%irrsc_addbillboardscenenode"
	29	"ISCN ADD SKYBOX NODE[%LLLLLLLL%irrsc_addskyboxscenenode"
	30	"ISCN ADD SKYDOME NODE[%LLLLLFFF%irrsc_addskydomescenenode"
	31	"ISCN ADD PARTICLE NODE[%LLL%irrsc_addparticlesystemscenenode"
	32	"ISCN ADD TERRAIN NODE[%LLS%irrsc_addterrainscenenode"
	33	"ISCN ADD EMPTY NODE[%LL%irrsc_addemptyscenenode"
	34	"ISCN ADD DUMMY TRANSFORM NODE[%LL%irrsc_adddummytransformationscenenode"
	35	"ISCN ADD TEXT NODE[%LLLSL%irrsc_addtextscenenode"
	36	"ISCN ADD BILLBOARD TEXT NODE[%LLLS%irrsc_addbillboardtextscenenode"
	37	"ISCN GET TERRAIN MESH[%LSLL%irrsc_addterrainmesh"
	38	"ISCN GET SPHERE MESH[%LSFLL%irrsc_addspheremesh"
	39	"ISCN GET VOLUME LIGHT MESH[%LSLLLL%irrsc_addvolumelightmesh"
	40	"ISCN GET ROOT NODE[%L%irrsc_getrootscenenode"
	41	"ISCN GET ID NODE[%LLL%irrsc_getscenenodefromid"
	42	"ISCN GET NAME NODE[%LSL%irrsc_getscenenodefromname"
	43	"ISCN GET CAMERA[%L%irrsc_getactivecamera"
	44	"ISCN SET CAMERA%L%irrsc_setactivecamera"
	45	"ISCN SET SHADOW COLOR%L%irrsc_setshadowcolor"
	46	"ISCN GET SHADOW COLOR[%L%irrsc_getshadowcolor"
	47	"ISCN DRAW ALL%0%irrsc_drawall"
	48	"ISCN CLEAR%0%irrsc_clear"
	49	"ISCN ADD NODE[%LLS%irrsc_addscenenode"
	50	"ISCN CREATE NEW SCENE[%LL%irrsc_createnewscenemanager"
	51	"ISCN IS CULLED[%LL%irr_isculled"
	52	"ISCN ADD OCTREE NODE[%LLLL%irrsc_addoctreescenenode"		// Added WLGfx - 2012/08/26
	53	"ISCN ADD CAMERA FPS NODE[%L%irrsc_addcamerascenenodefps"	// Added WLGfx - 2012/08/26

	54	"ISCN CREATE FLY CIRCLE ANIM[%LFFFFF%irrsc_addflycircleanim"
	55	"ISCN CREATE FLY STRAIGHT ANIM[%LFFFFFFLLL%irrsc_addflystraightanim"

	100	"IDEV RUN[%L%irrde_run"
	101	"IDEV YEILD%0%irrde_yeild"
	102	"IDEV SET WINDOW CAPTION%S%irrde_setwindowcaption"
	103	"IDEV IS WINDOW ACTIVE[%L%irrde_iswindowactive"
	104	"IDEV IS WINDOW FOCUSED[%L%irrde_iswindowfocused"
	105	"IDEV IS WINDOW MINIMIZED[%L%irrde_iswindowminimized"
	106	"IDEV IS FULL SCREEN[%L%irrde_isfullscreen"
	107	"IDEV GET COLOR FORMAT[%L%irrde_getcolorformat"
	108	"IDEV CLOSE DEVICE%0%irrde_closedevice"
	109	"IDEV SET RESIZEABLE%L%irrde_setresizable"
	110	"IDEV MINIMIZE WINDOW%0%irrde_minimizewindow"
	111	"IDEV MAXIMIZE WINDOW%0%irrde_maximizewindow"
	112	"IDEV RESTORE WINDOW%0%irrde_restorewindow"
	113	"IDEV CLEAR SYS MESSAGES%0%irrde_clearsystemmessages"
	114 "IDEV TIMER TICK%0%irrde_timertick"

	120	"IMAT DELETE%L%irrmat_delete"
	121 "IMAT NEW[%L%irrmat_new"
	122 "IMAT SET FLAG%LLL%irrmat_setmaterialflag"
	123 "IMAT GET FLAG[%LLL%irrmat_getmaterialflag"
	124 "IMAT COPY%LL%irrmat_copy"
	125 "IMAT SET TEXTURE%LLL%irrmat_settexture"
	126 "IMAT GET TEXTURE[%LLL%irrmat_gettexture"
	127 "IMAT SET AMBIENT%LL%irrmat_setambientcolor"
	128 "IMAT SET DIFFUSE%LL%irrmat_setdiffusecolor"
	129 "IMAT SET EMISSIVE%LL%irrmat_setemissivecolor"
	130 "IMAT SET SPECULAR%LL%irrmat_setspecularcolor"
	131 "IMAT SET SHININESS%LF%irrmat_setshininess"
	132 "IMAT SET PARAM1%LF%irrmat_settypeparam1"
	133 "IMAT SET PARAM2%LF%irrmat_settypeparam2"
	134 "IMAT SET THICKNESS%LF%irrmat_setthickness"
	135 "IMAT SET ZBUFFER%LL%irrmat_setzbuffer"
	136 "IMAT SET AA%LL%irrmat_setaa"
	137 "IMAT SET COLOR MASK%LL%irrmat_setcolormask"
	138 "IMAT SET COLOR MATERIAL%LL%irrmat_setcolormaterial"
	139 "IMAT SET WIRE FRAME%LL%irrmat_setwireframe"
	140 "IMAT SET POINT CLOUD%LL%irrmat_setpointcloud"
	141 "IMAT SET GORAUD SHADING%LL%irrmat_setgoraudshading"
	142 "IMAT SET LIGHTING%LL%irrmat_setlighting"
	143 "IMAT SET ZWRITE%LL%irrmat_setzwrite"
	144 "IMAT SET BACK FACE%LL%irrmat_setbackfacecull"
	145 "IMAT SET FRONT FACE%LL%irrmat_setfrontfacecull"
	146 "IMAT SET FOG%LL%irrmat_setfog"
	147 "IMAT SET NORMALIZE%LL%irrmat_setnormalizenormals"
	148 "IMAT SET TEXTURE WRAP%LLL%irrmat_settexturewrap"
	149 "IMAT SET BILINEAR%LLL%irrmat_setbilinear"
	150 "IMAT SET TRILINEAR%LLL%irrmat_settriliniear"
	151 "IMAT SET ANISOTROPIC%LLL%irrmat_setanisotropic"
	152 "IMAT SET LOD BIAS%LLL%irrmat_setlodbias"

	// Removed WLGFX 2010/08/27
	//155	"IMESH SET%LL%irrmesh_setmesh"
	//156	"IMESH GET[%LL%irrmesh_getmesh"
	//157	"IMESH SET READONLY%LL%irrmesh_setreadonlymaterials"
	//158	"IMESH GET READONLY[%LL%irrmesh_isreadonlymaterials"



	159	"IMESH GET BUFFER COUNT[%LL%irrmesh_getmeshbuffercount"
	160	"IMESH GET BUFFER[%LLL%irrmesh_getmeshbuffer"
	161	"IMESH SET MATERIAL FLAG%LLL%irrmesh_setmaterialflag"
	162	"IMESH SET HARDWARE HINT%LLL%irrmesh_sethardwaremappinghint"
	163	"IMESH SET DIRTY%LL%irrmesh_setdirty"

	170	"IAMESH GET FRAME COUNT[%LL%irramesh_getframecount"
	171	"IAMESH GET ANIM MESH[%LLLLLL%irramesh_getmesh"

	175 "IAMNODE SET FRAME%LF%irramesh_setcurrentframe"
	176 "IAMNODE SET LOOP%LLL%irramesh_setframeloop"
	177 "IAMNODE SET SPEED%LF%irramesh_setanimspeed"

	200	"ICAM TARGET%LFFF%irrcam_settarget"
	201	"ICAM ROTATE%LFFF%irrcam_setrotation"
	202	"ICAM UP VECTOR%LFFF%irrcam_setupvector"
	203	"ICAM GET NEAR[%FL%irrcam_getnearvalue"
	204	"ICAM GET FAR[%FL%irrcam_getfarvalue"
	205	"ICAM GET ASPECT[%FL%irrcam_getaspectratio"
	206 "ICAM GET FOV[%FL%irrcam_getfov"
	207 "ICAM SET NEAR%LF%irrcam_setnearvalue"
	208 "ICAM SET FAR%LF%irrcam_setfarvalue"
	209 "ICAM SET ASPECT%LF%irrcam_setaspectratio"
	210 "ICAM SET FOV%LF%irrcam_setfov"

	250 "IIMG LOCK%L%irrimg_lock"
	251 "IIMG UNLOCK%L%irrimg_unlock"
	252 "IIMG WIDTH[%LL%irrimg_getwidth"
	253 "IIMG HEIGHT[%LL%irrimg_getheight"
	254 "IIMG PIXEL BITS[%LL%irrimg_getbitsperpixel"
	255 "IIMG PIXEL BYTES[%LL%irrimg_getbytesperpixel"
	256 "IIMG SIZE BYTES[%LL%irrimg_getimagedatasizeinbytes"
	257 "IIMG SIZE PIXELS[%LL%irrimg_getimagedatasizeinpixels"
	258 "IIMG GET PIXEL[%LLLL%irrimg_getpixel"
	259 "IIMG SET PIXEL%LLLLL%irrimg_setpixel"
	260 "IIMG COLOR FORMAT[%LL%irrimg_getcolorformat"
	261 "IIMG PITCH[%LL%irrimg_getpitch"
	262 "IIMG PASTE SCALED%LL%irrimg_copytoscaling"
	263 "IIMG PASTE%LLLL%irrimg_copyto"
	264 "IIMG PASTE RECT%LLLLLLLL%irrimg_copytowithsource"
	265 "IIMG PASTE RECT CLIP%LLLLLLLLLLLL%irrimg_copytowithsourceandclip"
	266 "IIMG PASTE RECT ALPHA%LLLLLLLLL%irrimg_copytowithsourcealpha"
	267 "IIMG PASTE RECT ALPHA CLIP%LLLLLLLLLLLLL%irrimg_copytowithsourceandclipalpha"
	268 "IIMG PASTE BLEND%LLLL%irrimg_copytoscalingboxfilter"
	269 "IIMG FILL%LL%irrimg_fill"

	300 "INODE VISIBLE[%LL%irrnode_isvisible"
	301 "INODE TRULY VISIBLE[%LL%irrnode_istrulyvisible"
	302 "INODE SET VISIBLE%LL%irrnode_setvisible"
	303 "INODE ID[%LL%irrnode_getid"
	304 "INODE SET ID%LL%irrnode_setid"
	305 "INODE ADD CHILD%LL%irrnode_addchild"
	306 "INODE REMOVE CHILD[%LLL%irrnode_removechild"
	307 "INODE REMOVE ALL%L%irrnode_removeall"
	308 "INODE REMOVE%L%irrnode_remove"
	309 "INODE ADD ANIMATOR%LL%irrnode_addanimator"
	310 "INODE REMOVE ANIMATOR%LL%irrnode_removeanimator"
	311 "INODE REMOVE ANIMATORS%L%irrnode_removeanimators"
	312 "INODE MATERIAL COUNT[%LL%irrnode_getmaterialcount"
	313 "INODE MATERIAL FLAG%LLL%irrnode_setmaterialflag"
	314 "INODE MATERIAL TEXTURE%LLL%irrnode_setmaterialtexture"
	315 "INODE MATERIAL TYPE%LL%irrnode_setmaterialtype"
	316 "INODE SCALEX[%FL%irrnode_getscalex"
	317 "INODE SCALEY[%FL%irrnode_getscaley"
	318 "INODE SCALEZ[%FL%irrnode_getscalez"
	319 "INODE SCALE%LFFF%irrnode_setscale"
	320 "INODE ROTX[%FL%irrnode_getrotationx"
	321 "INODE ROTY[%FL%irrnode_getrotationy"
	322 "INODE ROTZ[%FL%irrnode_getrotationz"
	323 "INODE ROT%LFFF%irrnode_setrotation"
	324 "INODE POSX[%FL%irrnode_getpositionx"
	325 "INODE POSY[%FL%irrnode_getpositiony"
	326 "INODE POSZ[%FL%irrnode_getpositionz"
	327 "INODE POS%LFFF%irrnode_setposition"
	328 "INODE ABS POSX[%FL%irrnode_getabsolutepositionx"
	329 "INODE ABS POSY[%FL%irrnode_getabsolutepositiony"
	330 "INODE ABS POSZ[%FL%irrnode_getabsolutepositionz"
	331 "INODE SET CULL%LL%irrnode_setautomaticculling"
	332 "INODE CULL[%LL%irrnode_getautomaticculling"
	333 "INODE SET DEBUG VISIBLE%LL%irrnode_setdebugdatavisible"
	334 "INODE DEBUG VISIBLE[%LL%irrnode_isdebugdatavisible"
	335 "INODE SET PARENT%LL%irrnode_setparent"
	336 "INODE PARENT[%LL%irrnode_getparent"
	337 "INODE GET MATERIAL[%LLL%irrnode_getmaterial"
	338 "INODE MATERIAL WIREFRAME%LL%irrnode_setmatwireframe"
	339 "INODE MATERIAL POINTCLOUD%LL%irrnode_setmatpointcloud"
	340 "INODE MATERIAL GORAUD%LL%irrnode_setmatgoraudshading"
	341 "INODE MATERIAL LIGHTING%LL%irrnode_setmatlighting"
	342 "INODE MATERIAL ZBUFFER%LL%irrnode_setmatzbuffer"
	343 "INODE MATERIAL ZWRITE%LL%irrnode_setmatzwriteenable"
	344 "INODE MATERIAL BACKFACE%LL%irrnode_setmatbackfacecull"
	345 "INODE MATERIAL FRONTFACE%LL%irrnode_setmatfrontfacecull"
	346 "INODE MATERIAL BILINEAR%LL%irrnode_setmatbilinear"
	347 "INODE MATERIAL TRILINEAR%LL%irrnode_setmattrilinear"
	348 "INODE MATERIAL ANISOTROPIC%LL%irrnode_setmatanisotropic"
	349 "INODE MATERIAL FOG%LL%irrnode_setmatfogenable"
	350 "INODE MATERIAL NORMALIZE%LL%irrnode_setmatnormalizenormals"
	351 "INODE MATERIAL TEXTUREWRAP%LL%irrnode_setmattexturewrap"
	352 "INODE MATERIAL ANTIALIASING%LL%irrnode_setmatantialiasing"
	353 "INODE MATERIAL COLORMASK%LL%irrnode_setmatcolormask"
	354 "INODE MATERIAL COLORMATERIAL%LL%irrnode_setmatcolormaterial"
	355	"INODE DROP%L%irrnode_drop"
	356 "INODE SET FRAME LOOP%LLL%irrnode_setframeloop"
	357	"INODE SET ANIM SPEED%LF%irrnode_setanimspeed"
	358 "INODE SET MD2 RUN%L%irrnode_setmd2run"

	400 "IVID BEGIN%LLL%irrvid_beginscene"
	401 "IVID END%0%irrvid_endscene"
	402 "IVID MATERIAL%L%irrvid_setmaterial"
	403 "IVID GET TEXTURE[%LS%irrvid_gettexture"
	404 "IVID GET ID TEXTURE[%LL%irrvid_gettexturefromid"
	405 "IVID GET TEXTURE COUNT[%L%irrvid_gettexturecount"
	406 "IVID RENAME TEXTURE%LS%irrvid_renametexture"
	407 "IVID NEW TEXTURE[%LLLS%irrvid_addtexture"
	408 "IVID IMAGE TEXTURE[%LSL%irrvid_addtexturefromimage"
	409 "IVID RENDER TEXTURE[%LLL%irrvid_addrendertargettexture"
	410 "IVID REMOVE TEXTURE%L%irrvid_removetexture"
	411 "IVID REMOVE ALL TEXTURES%0%irrvid_removealltextures"
	412 "IVID REMOVE MESH BUFFER%L%irrvid_removehardwarebuffer"
	413 "IVID REMOVE ALL MESH BUFFERS%0%irrvid_removeallhardwarebuffers"
	414 "IVID TEXTURE COLOR KEY%LL%irrvid_makecolorkeytexture"
	415 "IVID TEXTURE COLOR KEY PIXEL%LLL%irrvid_makecolorkeytexturefrompixel"
	416 "IVID TEXTURE NORMAL MAP%LF%irrvid_makenormalmaptexture"
	417 "IVID SET RENDER TARGET[%LLLLL%irrvid_setrendertarget"
	418 "IVID VIEWPORT%LLLL%irrvid_setviewport"
	419 "IVID LINE 3D%FFFFFFL%irrvid_draw3dline"
	420 "IVID PASTE IMAGE%LLL%irrvid_draw2dimage"
	421 "IVID RECT%LLLLL%irrvid_draw2drectangle"
	422 "IVID RECTO%LLLLL%irrvid_draw2drectangleoutline"
	423 "IVID LINE%LLLLL%irrvid_draw2dline"
	424 "IVID PIXEL%LLL%irrvid_drawpixel"
	425 "IVID POLYGON%LLFLL%irrvid_draw2dpolygon"
	426 "IVID MESH BUFFER%L%irrvid_drawmeshbuffer"
	427 "IVID FOG%LFFFLL%irrvid_setfog"
	//428 "irrvid_setfog%0%irrvid_setfog"
	429 "IVID SCREENX[%L%irrvid_getscreensizex"
	430 "IVID SCREENY[%L%irrvid_getscreensizey"
	431 "IVID RENDER TARGETX[%L%irrvid_getrendertargetsizex"
	432 "IVID RENDER TARGETY[%L%irrvid_getrendertargetsizey"
	433 "IVID FPS[%L%irrvid_getfps"
	434 "IVID PRIMITIVE COUNT[%LL%irrvid_getprimitivecountdrawn"
	435 "IVID DELETE ALL DLIGHTS%0%irrvid_deletealldynamiclights"
	436 "IVID ADD DLIGHT[%LL%irrvid_adddynamiclight"
	437 "IVID MAX DLIGHTS[%L%irrvid_getmaxdynamiclights"
	438 "IVID DLIGHT COUNT[%L%irrvid_getdynamiclightcount"
	439 "IVID GET DLIGHT[%LL%irrvid_getdynamiclight"
	440 "IVID DLIGHT ON%LL%irrvid_turnlighton"
	441 "IVID TEXTURE CREATION%LL%irrvid_settexturecreationflag"
	442 "IVID GET TEXTURE CREATION[%LL%irrvid_gettexturecreationflag"
	443 "IVID GET IMAGE[%LS%irrvid_createimagefromfile"
	444 "IVID NEW IMAGE[%LLLL%irrvid_createimage"
	445 "IVID NEW IMAGE COPY[%LLL%irrvid_createimagecopy"
	446 "IVID NEW IMAGE COPY RECT[%LLLLLL%irrvid_creatimagefromimage"
	447 "IVID NEW IMAGE TEXTURE RECT[%LLLLLL%irrvid_creatimagefromtexture"
	448 "IVID CLEAR ZBUFFER%0%irrvid_clearzbuffer"
	449 "IVID SCREEN SHOT[%L%irrvid_createscreenshot"
	450 "IVID MAX TEXTURE SIZE[%L%irrvid_getmaxtexturesize"
	451 "IVID GET MATERIAL 2D[%L%irrvid_getmaterial2d"

	500 "ILIGHT SET RADIUS%LF%irrlight_setradius"
	501 "ILIGHT GET RADIUS[%LL%irrlight_getradius"
	502 "ILIGHT SET TYPE%LL%irrlight_settype"
	503 "ILIGHT GET TYPE[%LL%irrlight_gettype"
	504 "ILIGHT SET SHADOW%LL%irrlight_castshadow"
	505 "ILIGHT GET SHADOW[%LL%irrlight_getcastshadow"

	520	"IBOARD SET SIZE%LFF%irrboard_setsize"
	521 "IBOARD GET WIDTH[%LL%irrboard_getwidth"
	522 "IBOARD GET HEIGHT[%LL%irrboard_getheight"
	523 "IBOARD SET COLOR%LLL%irrboard_setcolor"
	525 "ITBOARD SET TEXT%LS%irrtboard_settext"

	530 "IABOX NEW[%0%irrabox_new"
	531 "IABOX DELETE%L%irrabox_delete"
	532	"IABOX SET%LFFFFFF%irrabox_set"
	533 "IABOX CENTER X[%LL%irrabox_getcenterx"
	534 "IABOX CENTER Y[%LL%irrabox_getcentery"
	535 "IABOX CENTER Z[%LL%irrabox_getcenterz"
	536 "IABOX EXTENT X[%LL%irrabox_getextentx"
	537 "IABOX EXTENT Y[%LL%irrabox_getextenty"
	538 "IABOX EXTENT Z[%LL%irrabox_getextentz"
	539 "IABOX IS EMPTY[%LL%irrabox_isempty"
	540 "IABOX VOLUME[%LL%irrabox_getvolume"
	541 "IABOX AREA[%LL%irrabox_getarea"
	542 "IABOX REPAIR%L%irrabox_repair"
	543 "IABOX POINT INSIDE[%LFFF%irrabox_ispointinside"
	544 "IABOX BOX INSIDE[%LLL%irrabox_isboxinside"
	545 "IABOX INTERSECT BOX[%LLL%irrabox_intersectswithbox"
	546 "IABOX INTERSECT LINE[%LLFFFFFF%irrabox_intersectswithline"

	580	"IFONT DRAW%LLLLS%irrfont_draw"

	600 "IMBUFF GET MATERIAL[%LL%irrmbuff_getmaterial"
	601 "IMBUFF GET VERTEX TYPE[%LL%irrmbuff_getvertexttype"
	602 "IMBUFF GET VERTICES[%LL%irrmbuff_getvertices"
	603 "IMBUFF GET VERTEX COUNT[%LL%irrmbuff_getvertexcount"
	604 "IMBUFF GET INDEX TYPE[%LL%irrmbuff_getindextype"
	605 "IMBUFF GET INDICES[%LL%irrmbuff_getindices"
	606 "IMBUFF GET INDEX COUNT[%LL%irrmbuff_getindexcount"
	607 "IMBUFF GET VERT POS X[%LLL%irrmbuff_getvertposx"
	608 "IMBUFF GET VERT POS Y[%LLL%irrmbuff_getvertposy"
	609 "IMBUFF GET VERT POS Z[%LLL%irrmbuff_getvertposz"
	610 "IMBUFF GET VERT NORM X[%LLL%irrmbuff_getvertnormx"
	611 "IMBUFF GET VERT NORM Y[%LLL%irrmbuff_getvertnormy"
	612 "IMBUFF GET VERT NORM Z[%LLL%irrmbuff_getvertnormz"
	613 "IMBUFF GET VERT U[%LLL%irrmbuff_getverttcoorU"
	614 "IMBUFF GET VERT v[%LLL%irrmbuff_getverttcoorV"
	615 "IMBUFF APPEND RAW BUFFER%LLLLL%irrmbuff_appendraw"
	616 "IMBUFF APPEND MESH BUFFER%LL%irrmbuff_appendmeshbuffer"
	617 "IMBUFF GET HW HINT VERTEX[%LL%irrmbuff_gethwhint_vertex"
	618 "IMBUFF GET HW HINT INDEX[%LL%irrmbuff_gethwhint_index"
	619 "IMBUFF SET HW HINT%LLL%irrmbuff_sethwhint"
	620 "IMBUFF SET DIRTY%LL%irrmbuff_setdirty"

	640 "IVEC3 NEW[%L%irrvec3df_new"
	641 "IVEC3 DELETE%L%irrvec3df_delete"
	642 "IVEC3 SET%LFFF%irrvec3df_set"
	643 "IVEC3 COPY%LL%irrvec3df_copy"
	644 "IVEC3 ADD%LL%irrvec3df_add"
	645 "IVEC3 SUB%LL%irrvec3df_sub"
	646 "IVEC3 DIV%LL%irrvec3df_div"
	647 "IVEC3 MUL%LL%irrvec3df_mul"
	648 "IVEC3 IS GREQ[%LLL%irrvec3df_greq"
	649 "IVEC3 IS LOEQ[%LLL%irrvec3df_loeq"
	650 "IVEC3 IS GR[%LLL%irrvec3df_gr"
	651 "IVEC3 IS LO[%LLL%irrvec3df_lo"
	652 "IVEC3 IS EQ[%LLL%irrvec3df_eq"
	653 "IVEC3 LENGTH[%LL%irrvec3df_length"
	654 "IVEC3 LENGTHSQ[%LL%irrvec3df_lengthsq"
	655 "IVEC3 DOT PRODUCT[%LLL%irrvec3df_dotproduct"
	656 "IVEC3 DISTANCE[%LLL%irrvec3df_distancefrom"
	657 "IVEC3 DISTANCESQ[%LLL%irrvec3df_distancefromsq"
	658 "IVEC3 CROSS PRODUCT[%LLL%irrvec3df_crossproduct"
	659 "IVEC3 IS BETWEEN[%LLLL%irrvec3df_isbetweenpoints"
	660 "IVEC3 NORMALIZE%L%irrvec3df_normalize"
	661 "IVEC3 SET LENGTH%LF%irrvec3df_setlength"
	662 "IVEC3 INVERT%L%irrvec3df_invert"
	663 "IVEC3 ROTATE Y%LFL%irrvec3df_roty"
	664 "IVEC3 ROTATE Z%LFL%irrvec3df_rotz"
	665 "IVEC3 ROTATE X%LFL%irrvec3df_rotx"
	666 "IVEC3 INTERPOLATED[%LLLF%irrvec3df_interpolated"
	667 "IVEC3 INTERPOLATED QUAD[%LLLLF%irrvec3df_interpolated_quadratic"
	668 "IVEC3 INTERPOLATE%LLLF%irrvec3df_interpolate"
	669 "IVEC3 GET HORIZ ANGLE[%LL%irrvec3df_gethorizangle"
	670 "IVEC3 GET SPHERE ANGLES[%LL%irrvec3df_spherecoordangles"
	671 "IVEC3 ROTATE DIRECTION[%LLL%irrvec3df_rotdirection"
	672 "IVEC3 GET X[%LL%irrvec_getx"
	673 "IVEC3 GET Y[%LL%irrvec_gety"
	674 "IVEC3 GET Z[%LL%irrvec_getz"
	675	"IVEC3 SET X%LF%irrvec_setx"	// Added WLGfx - 2012/08/26
	676	"IVEC3 SET Y%LF%irrvec_sety"	// Added WLGfx - 2012/08/26
	677	"IVEC3 SET Z%LF%irrvec_setz"	// Added WLGfx - 2012/08/26

	680	"IFILE ADD ZIP FILE ARCHIVE[%LSLL%irrfile_addzipfilearchive"	// Added WLGfx - 2012/08/26
	681	"IFILE REMOVE FILE ARCHIVE[%LL%irrfile_removefilearchive"		// Added WLGfx - 2012/08/26

	685	"IANIM DROP%L%irranim_drop"

	900 "IGUI GET DEFAULT FONT[%L%irrgui_getfontdefault"
	901 "IGUI GET FONT[%LS%irrgui_getfont"


}
